<div class="relative isolate overflow-hidden bg-gray-900" style="background-image: url({{ asset('build/images/header-bg.png') }}); background-size: cover;">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">{{ title ?? 'Altus Online' }}</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-300">{{ description ?? 'Fiesta Online private server' }}</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Get started</a>
                <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
            </div>
        </div>
    </div>
</div>

